h1 {
	color:#dd3333;
	background-color: #dddddd;
	margin: 30px;
	padding: 30px 30px 30px 30px;
	text-align: right;
}
#subtitle {
	color: gray;
	margin: 30px 30px 30px 250px;
}
#subtitle a{
	text-decoration: none;
	color: #dd3333;
}
a:hover {
	color: gray;
}
#boots {
	height: 150px;
	width: 150px;
	float:left;
}
#about {
	color: white;
	font-style: italic;
	background-color: #dd3333;
	text-align: right;
	margin: 150px 30px 30px 30px;
	padding: 10px;
}
ul {
	list-style-type: none;
	margin: 0;
}
li {
	display: inline;
	margin: 5px 10px 5px 10px;
}
li a {
	text-decoration: none;
	color: white;
}